<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>URL SHORTENER</h1>
    <% if (locals.id) { %>
     <p>URL Generated: http://localhost:5000/url/<%=locals.id%></p>
    <% } %>

    <div>
        <form action="/url" method="post">
            <label for="">Enter Your URL </label>
            <input type="text" name="url" placeholder="Enter your URL">
            <button type="submit">Generate</button>
        </form>

    </div>
    

    
</body>
</html>